rvm:
 - 2.1
 - 2.2.4
 - 2.3.1
 - 2.4.0
 - ruby-head

gemfile:
 - Gemfile

services:
  - mongodb

before_install:
  - gem update bundler
before_script:
  - git submodule update -i

script: bundle exec rake test

matrix:
  allow_failures:
    - rvm: ruby-head
